@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset;
  background: $mint-blue;
  color: #fff;
  height: 3rem;
  letter-spacing: 3px;
  transition: all 0.3s ease;
  margin-bottom: 1rem;

  &:hover {
    background: $mint-blue-dark;
  }
}

.success {
  background: $success-color;

  &:hover {
    background: $success-dark;
  }
}

.danger {
  background: $danger-color;

  &:hover {
    background: $danger-dark;
  }
}
