@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.content {
  @include maxResponsive(639px) {
    .imgLayout {
      width: 100%;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }

      img {
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: stretch;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .imgText {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
}
