@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.container {
  padding-bottom: 3rem;

  @include minResponsive(1023px) {
    padding-bottom: 4.5rem;
  }

  .title {
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2px;

    @include minResponsive(640px) {
      font-size: 5rem;
    }

    @include minResponsive(1024px) {
      font-size: 6rem;
    }

    button {
      @include defaultBtn() {
        width: 1.5rem;
        height: 1.5rem;
        padding-left: 0.5rem;

        @include minResponsive(640px) {
          width: 1.8rem;
          height: 1.8rem;
        }

        @include minResponsive(1024px) {
          width: 2rem;
          height: 2rem;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
