$dark-color: #282c34;
$light-color: #ffffff;
$text-dark: #999;
$link-color: #28b0d6;
$danger-color: #dc3545;

$max-width: 1440px;
$mobile-padding: 0 1rem;
$header-height: 3rem;
$footer-height: 10rem;
