$dark-color: #282c34;
$light-color: #ffffff;
$ash-color: #979797;
$text-dark: #999;
$link-color: #28b0d6;
$danger-color: #dc3545;
$danger-dark: #b82b39;
$success-color: #4caf50;
$success-dark: #46a049;
$mint-blue: #17a2b8;
$mint-blue-dark: #138496;

$max-width: 1440px;
$mobile-padding: 0 1rem;
$mobHeader-height: 3rem;
$header-height: 5rem;
$footer-height: 10rem;
