@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.stretch {
  @include minResponsive(640px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;

    .imgLayout {
      width: 100%;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }

      img {
        padding: 5px 0;
        width: 100%;
        height: auto;
        max-width: stretch;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .imgText {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }
  }
}
