@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.container {
  @include defaultContainerWidth() {
  }

  .panel {
    width: 100%;
    transition: all 0.3s ease;

    @include minResponsive(1024px) {
      margin-left: 1rem;
    }

    .section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      line-height: 3rem;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0.5rem;
      transition: all 0.2s ease;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .deleteBtn {
        @include defaultBtn();
        border: solid 2px $danger-color;
        border-radius: 5px;
        height: 2.3rem;
        margin: auto 0;
        padding: 0 0.5rem;
        transition: all 0.3s ease;
        letter-spacing: 2px;

        &:hover {
          background: #c82333;
          color: #fff;
        }
      }
    }

    .current {
      background: #28b0d65b;
    }
  }
}
