@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.container {
  @include defaultContainerWidth() {
  }

  .panel {
    width: 100%;
    transition: all 0.3s ease;

    @include minResponsive(1024px) {
      margin-left: 1rem;
    }

    .section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      line-height: 3rem;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0.5rem;
      transition: all 0.2s ease;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .btn {
        @include defaultBtn();
        border: solid 2px;
        width: 5rem;
        height: 2.3rem;
        line-height: 2.3rem;
        margin: auto 0;
        padding: 0 0.5rem;
        transition: all 0.2s ease;
        font-weight: 100;

        &:hover {
          font-weight: 400;
        }
      }

      .delete {
        border-color: $danger-color;

        &:hover {
          box-shadow: 0 0px 3px 2px $danger-dark;
        }
      }
      .edit {
        border-color: $mint-blue;
        margin-right: 1rem;

        &:hover {
          box-shadow: 0 0px 3px 2px $mint-blue-dark;
        }
      }
    }

    .current {
      background: #28b0d65b;
    }
  }
}
