@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.container {
  @include defaultContainerWidth();

  .panel {
    width: 100%;

    @include minResponsive(1024px) {
      margin-left: 1rem;
    }

    .form {
      width: 100%;

      .sectionTitle {
        @include defaultInput($input-height: 4rem);
        margin-bottom: 2rem;
      }
    }
  }
}
