@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.container {
  display: flex;
  max-width: $max-width;
  margin: auto;
  padding: $mobile-padding;
  padding-top: 1rem;
  padding-bottom: ($footer-height + 2rem);

  @include minResponsive(1441px) {
    padding: 1rem 0 ($footer-height + 2rem);
  }
}
