@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

.container {
  box-sizing: border-box;
  max-width: 30rem;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 3rem;
  margin-top: 10%;

  @include minResponsive(1024px) {
    margin-top: 6%;
  }

  @include minResponsive(1440px) {
    margin-top: 4%;
  }

  .title {
    text-align: center;
  }

  .form {
    width: 100%;
    .formItem {
      position: relative;
      margin-top: 2rem;
      padding-bottom: 1.5rem;

      .labelInside {
        position: absolute;
        background: #fff;
        color: #979797;
        font-size: 1rem;
        margin-top: 0.6rem;
        left: 0.6rem;
        transition: 0.2s ease all;
        pointer-events: none;
      }

      input {
        width: 100%;
        height: 3rem;
        border: 1px solid #979797;
        border-radius: 3px;
        padding-left: 1rem;

        &:focus {
          outline: none;
          border-color: #333;
          box-shadow: 0 0 0 1px #333;
        }

        // &:valid ~ label {
        //   margin-top: -0.6rem;
        //   padding: 0 6px;
        //   font-size: 0.8rem;
        //   border-radius: 5px;
        // }

        &:not(:placeholder-shown) ~ label {
          margin-top: -0.6rem;
          padding: 0 6px;
          font-size: 0.8rem;
          border-radius: 5px;
        }

        &:focus ~ label {
          margin-top: -0.6rem;
          padding: 0 6px;
          font-size: 0.8rem;
          border-radius: 5px;
        }
      }

      .error {
        position: absolute;
        margin-top: 0%;
        padding-top: 5px;
        z-index: -1;
        color: red;
        line-height: 1.1;
        font-size: 14px;
        animation: cssAnimation 1.5s 2;
        animation-direction: alternate;
      }

      @keyframes cssAnimation {
        0% {
          margin-top: 0%;
        }
        // 25%  {margin-top: -10%;}
        // 50%  {margin-top: -10%;}
        // 75%  {margin-top: -10%;}
        100% {
          margin-top: -12%;
        }
      }
    }

    .button {
      display: inline-block;
      width: 100%;
      height: 4rem;
      line-height: 4rem;
      background: #979797;
      color: #fff;
      border: 0;
      border-radius: 100px;
      text-decoration: none;
      margin-top: 2rem;
      text-align: center;
      transition: 0.3s;
      &:hover {
        filter: brightness(85%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px #333;
      }
    }

    .link {
      @include customLink() {
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 1.5rem;
        margin: auto;
        padding-top: 2rem;
      }
    }
  }
}
