@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.video {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    border: unset;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
